/* styles.css */

/* General styling for the body element */
body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Full viewport height */
    background-color: #003b28; /* Dark green background */
    font-family: 'Arial'; /* Use Arial font */
}

/* Center-align text and set text color for the container */
.container {
    text-align: center; /* Center-align text */
    color: #fff; /* White text color */
}

/* Set maximum width for the logo image */
.logo {
    max-width: 200px; /* Adjust the logo size to a maximum of 200px wide */
}

/* Add margin above and below buttons */
.buttons {
    margin: 20px 0; /* Vertical margin of 20px */
}

/* Styling for age verification buttons */
.age-button {
    text-decoration: none; /* Remove underline from links */
    background-color: transparent; /* Transparent background */
    border: 2px solid #fff; /* White border */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding inside the button */
    margin: 0 10px; /* Horizontal margin of 10px */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size of 16px */
    border-radius: 20px; /* Rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color changes */
}

/* Hover effect for age verification buttons */
.age-button:hover {
    background-color: #ffa500; /* Orange background on hover */
    color: #003b28; /* Dark green text color on hover */
    font-weight: bold; /* Bold text on hover */
}

/* Styling for instruction text */
.instruction {
    font-size: 18px; /* Font size of 18px */
    margin-top: 40px; /* Top margin of 40px */
    font-style: italic; /* Italicize text */
}
